<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <button @click="getContent">Get content</button>
        <div v-if="showContent">
            <p>users </p>
            <ul>
                <li v-for="(user,i) in users" :key="user.id">    
                    {{i + 1}} - {{user.name}}
                    <span>{{ user.email }} - {{ user.age }}</span>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                title: 'DATA',
                showContent: false,
                user: {
                    name: 'zafar',
                    email: 'info@.ru'
                },
                users: [
                    {id:1,name: 'zafar', email: '23@.ru', age: 22},
                    {id:2,name: 'alex', email: '33@.ru', age: 52}
                ]
            },
            methods:{
                getContent() {
                    this.showContent =  !this.showContent
                }
            }
        })
    </script>
</body>
</html>